{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Manish EnterPrises</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylish-portfolio.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylish-stylish-portfolio.min.css' %}">

  <!-- Main JS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'js/stylish-portfolio.js' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/stylish-portfolio.min.css' %}">

  <!-- Main scss File -->
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_bootstrap-overrides.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_callout.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_footer.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_global.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_masthead.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_mixins.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_portfolio.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_services.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_sidebar.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_variables.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/stylish-portfolio.scss' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">



    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/js/bootstrap.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/combine.css' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.woff' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.woff2' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}">

    <!--Jquery Files--->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery.min.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery.slim.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery.slim.min.js' %}">
 

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-easing/jquery.easing.compatibility.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-easing/jquery.easing.js.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.woff' %}">
    <link rel="stylesheet" type="texcd.cd,t/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.woff2' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/gulpfile.js' %}">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-2">Business</h1>
      <h3 class="mb-5">
        <em>Invest On Us</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'myinvest' %}">My Investment</a>
    </div>
    <div class="overlay"></div>
  </header>

  
</body>

</html>
