{% extends 'investors/base.html' %}



{% block title %}
  
    Home
  
{% endblock title %}



{% block header %}
  
     <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-2">Business</h1>
      <h3 class="mb-5">
        <em>Invest On Us</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'myinvest' %}">My Investment</a>
    </div>
    <div class="overlay"></div>
  </header>

  
  
{% endblock header %}

