{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  

  <title>{% block title %}Manish EnterPrises{% endblock title %}</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylish-portfolio.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylish-stylish-portfolio.min.css' %}">

  <!-- Main JS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'js/stylish-portfolio.js' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/stylish-portfolio.min.css' %}">

  <!-- Main scss File -->
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_bootstrap-overrides.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_callout.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_footer.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_global.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_masthead.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_mixins.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_portfolio.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_services.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_sidebar.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/_variables.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'scss/stylish-portfolio.scss' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">



    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/js/bootstrap.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/combine.css' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.woff' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.woff2' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}">

    <!--Jquery Files--->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery.min.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery.slim.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery.slim.min.js' %}">
 

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-easing/jquery.easing.compatibility.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-easing/jquery.easing.js.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.woff' %}">
    <link rel="stylesheet" type="texcd.cd,t/css" href="{% static 'vendor/simple-line-icons/fonts/Simple-Line-Icons.woff2' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/gulpfile.js' %}">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body id="page-top">

 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Manish Enterprises</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% if request.user.is_superuser %} 

         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'total' %}">Total Investment</a>
          {% for investor in all_investor %}
            <a class="dropdown-item" href="{% url 'records' investor.id %}">{{ investor.name }}</a>
          {% endfor %}

        </div>
      </li>
      {% endif %}
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
        <li>
        <a class="nav-link" href="{% url 'myinvest' %}">My Invesment</a></li>
        <li><a class="nav-link" href="{% url 'invest' %}">Invest More</a></li>
        {% endif %}
      </li>

        <li><a class="nav-link" href="{% url 'payment' %}">Transer Payment & History</a></li>
      <li></li>
  
    </ul>
    {% if user.is_authenticated %}
    <span class="navbar-text">
      <a href="{% url 'logout' %}">
      Logout 
      </a> 
    </span>
    {% else %}
    <span class="navbar-text">
      <a href="{% url  'login' %}">
      Login
      </a>
    </span>
    {% endif %}
  </div>
</nav>

   {% block header %}

   {% endblock header %}

 
</body>

</html>
