<!DOCTYPE html>
<html>
<head>
    <title>{{ request.user }}</title>

    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}

</style>


</head>


<body>

    <div class="container">
        {% if user.is_authenticated %}
            <h2>Investor Name: {{ request.user }}</h2>
            {% for invest in investors %}
            <table>
              <tr>
                <th>Amount Invested</th>
                <th>Date</th>
                <th>Rate Of Interest</th>
                <th>Return</th>
                <th>Profit</th>
              </tr>

             <tr>
              
               <th>{{ invest.amount }}</th>
               <th>{{ invest.timestamp }}</th>
               <th>{{ invest.rate }}</th>
               
               <th>None</th>
               <th>None</th>  
           
             </tr>
             <br> 
            </table>

              {% endfor %}
        {% endif  %}


        <div class="container">
        <hr>
        <a href="{% url 'home' %}">Go To Home Page</a>
        </div>


<div class="footer">
<footer>
          <div class="container mt-3">
             <table>
              <tr>
                <th>Total Amount Invested</th>
                <th>Current Date</th>
                <th>Total Interest</th>
                <th>Total Return</th>
                <th>Total profit</th>
              </tr>

             <tr>
              
               <th>None</th>
               <th>None</th>
               <th>None</th>
               
               <th>None</th>
               <th>None</th>  
           
             </tr>
             <br> 
            </table>

          </div>

</footer>
</div>


</body>
</html>