<!DOCTYPE html>
<html>
<head>
    <title>{{ request.user }}</title>

    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>


<body>

    <div class="container">
        {% if user.is_authenticated %}
            <h2>Investor Name: {{ request.user }}</h2>

            <table>
              <tr>
                <th>Amount Invested</th>
                <th>Date</th>
                <th>Rate Of Interest</th>
                <th>Return</th>
                <th>Profit</th>
              </tr>

             <tr>
              {% for invest in investors %}
               <th>{{ invest.amount }}</th>
               <th>{{ invest.timestamp }}</th>
               <th>{{ invest.rate }}</th>
               
               <th>None</th>
               <th>None</th>
              {% endfor %}
             </tr>
             <br>
            

              
            </table>
        {% endif %}

</body>
</html>